# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

### Questões

1. Quais os grupos possuem mais aderência as campanhas?
2. Qual o tipo de campanha que possui mais aderência?
3. Detalhe entre cada grupo, quais são as campanhas mais aderentes.
4. Qual a quantidade de ofertas que os usuários não viram?
5. Qual a quantidade de ofertas não lidas pelos usuários, porém validadas na compra?
6. Qual a quantidade de ofertas vistas pelos usuários, porém não validas na compra?

***To-do:***
* Crie ranges de idade para cada usuário

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

In [933]:
import pandas as pd
import numpy as np
import math
import json
#% matplotlib inline

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [934]:
portfolio.head(10)

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [935]:
transcript[transcript['person'] == '78afa995795e4d85b5d9ceeca43f5fef']

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
15561,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},6
47582,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 19.89},132
47583,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,132
49502,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 17.78},144
53176,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '5a8bc65990b245e5a138643cd4eb9837'},168
85291,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': '5a8bc65990b245e5a138643cd4eb9837'},216
87134,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 19.67},222
92104,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 29.72},240
141566,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 23.93},378
150598,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},408
163375,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},408
201572,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},504
218393,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 21.72},510
218394,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...,510
218395,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d...,510
230412,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 26.56},534
262138,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},582

In [936]:
def clean_portfolio(portfolio):
    '''
    Clean the portfolio dataset:
    - transform the "duration" column to hours
    - one-hot-enconde both channels and offer_type columns
    - rename the "id" column to "offer_id"
    
    INPUT:
    - the original portfolio dataset
    
    OUTPUT:
    - the cleaned portfolio dataset (portfolio_clean) 
    
    '''
    #create a copy
    portfolio_clean = portfolio.copy()
    
    #transform the "duration" column into hours
    portfolio_clean['duration'] = portfolio_clean['duration']*24
    
    #rename "id" column
    portfolio_clean = portfolio_clean.rename(columns={'id': 'offer_id'})

    #one-hot-encode the "channels" column
    portfolio_clean = portfolio_clean.drop('channels', axis = 1).join(portfolio_clean.channels.str.join('|').str.get_dummies())

    #one-hot-enconde the "offer_type" column
    offers_type = pd.get_dummies(portfolio_clean['offer_type'])

    #drop the old "offer_type" column and join dummies
    #portfolio_clean = portfolio_clean.drop('offer_type', axis = 1).join(offers_type)
    portfolio_clean = portfolio_clean.join(offers_type)
    
    return portfolio_clean

In [937]:
def clean_profile(profile):
    '''
    Clean the profile dataset:
    - change de dtype for the "became_member_on" to datetime
    - one-hot-enconde the "gender" column
    - rename the "id" column to "user_id"

    INPUT:
    - the original profile dataset
    
    OUTPUT:
    - the cleaned profile dataset (profile_clean) 
    
    '''
    #create a copy
    profile_clean = profile.copy()

    #change dtype on the "became_member_on" column to datetime
    profile_clean['became_member_on'] = pd.to_datetime(profile_clean['became_member_on'].astype(str), format='%Y%m%d')

    #one-hot-enconde the "gender" column
    genders = pd.get_dummies(profile_clean['gender'])
    
    #drop the "gender" column and join dummies
    profile_clean = profile_clean.drop('gender', axis = 1).join(genders)

    #rename the "id" column to "user_id"
    profile_clean = profile_clean.rename(columns={'id': 'user_id'})
    
    return profile_clean

In [938]:
def clean_transcript(transcript):
    '''
    Clean the transcript dataset:
    - normalize the "value" column
    - rename "person", "offer id" and "offer_id" columns
    - consolidate all offers ids into one column
    - drop the unnecessary columns 
    - drop the "reward" column --> it will be replaced after the final merge
    
    INPUT:
    - the original profile dataset
    
    OUTPUT:
    - the cleaned profile dataset
    
    '''
    #create a copy
    transcript_clean = transcript.copy()
    
    #normalizing dict row into columns
    transcript_clean = transcript_clean.join(pd.json_normalize(transcript_clean.value))  

    #rename columns
    transcript_clean = transcript_clean.rename(columns={'person': 'user_id',
                                                        'offer id': 'offer_id_received',
                                                        'offer_id': 'offer_id_completed'
                                                       }
                                              )
    #get the offer_id data from both columns
    transcript_clean['offer_id'] = np.where(transcript_clean['offer_id_received'].notna() == True,
                                            transcript_clean['offer_id_received'],
                                            transcript_clean['offer_id_completed']
                                           )
    
    #drop columns
    transcript_clean = transcript_clean.drop(columns=['value',
                                                      'reward',
                                                      'offer_id_received',
                                                      'offer_id_completed'],
                                             axis = 1
                                            )
    
    #one-hot-enconde the "event" column
    events = pd.get_dummies(transcript_clean['event'])

    #drop the "event" column and join dummies
    transcript_clean = transcript_clean.drop('event', axis = 1).join(events)
    
    return transcript_clean

In [939]:
portfolio_df = clean_portfolio(portfolio)
transcript_df = clean_transcript(transcript)
profile_df = clean_profile(profile)

In [940]:
def final_merge(portfolio_df, transcript_df, profile_df):
    '''
    Merge all cleaned datasets into one
    
    INPUT:
    portfolio_df
    transcript_df
    profile_df
    
    OUTPUT:
    df
    
    '''
    
    #merge transcript and profile
    df = transcript_df.merge(profile_df, how='left', on='user_id')
    
    #merge transcript and portfolio
    df = df.merge(portfolio_df, how='left', on='offer_id')
    
    #change columns order
    df = df[['user_id', 'age', 'became_member_on', 'income', 'F', 'M', 'O',
         'offer_id', 'bogo', 'discount', 'informational','reward', 'difficulty', 'duration', 'email', 'mobile', 'social', 'web',
         'time', 'amount', 'offer completed', 'offer received', 'offer viewed', 'transaction']]
    
    #sort dataframe by user_id and offer_id
    df = df.sort_values(['user_id', 'offer_id'], ascending=False)
    
    return df

In [941]:
portfolio_df.head()

,reward,difficulty,duration,offer_type,offer_id,email,mobile,social,web,bogo,discount,informational
0,10,10,168,bogo,ae264e3637204a6fb9bb56bc8210ddfd,1,1,1,0,1,0,0
1,10,10,120,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,1,1,1,1,1,0,0
2,0,0,96,informational,3f207df678b143eea3cee63160fa8bed,1,1,0,1,0,0,1
3,5,5,168,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1,0,1,1,0,0
4,5,20,240,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,0,0,1,0,1,0

In [942]:
transcript_df.head()

,user_id,time,amount,offer_id,offer completed,offer received,offer viewed,transaction
0,78afa995795e4d85b5d9ceeca43f5fef,0,NaN,9b98b8c7a33c4b65b9aebfe6a799e6d9,0,1,0,0
1,a03223e636434f42ac4c3df47e8bac43,0,NaN,0b1e1539f2cc45b7b9fa7c272da2e1d7,0,1,0,0
2,e2127556f4f64592b11af22de27a7932,0,NaN,2906b810c7d4411798c6938adc9daaa5,0,1,0,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,0,NaN,fafdcd668e3743c1bb461111dcafc2a4,0,1,0,0
4,68617ca6246f4fbc85e91a2a49552598,0,NaN,4d5c57ea9a6940dd891ad53e9dbe8da0,0,1,0,0

In [943]:
profile_df.head()

   age                           user_id became_member_on    income  F  M  O
0  118  68be06ca386d4c31939f3a4f0e3dd783       2017-02-12       NaN  0  0  0
1   55  0610b486422d4921ae7d2bf64640c50b       2017-07-15  112000.0  1  0  0
2  118  38fe809add3b4fcf9315a9694bb96ff5       2018-07-12       NaN  0  0  0
3   75  78afa995795e4d85b5d9ceeca43f5fef       2017-05-09  100000.0  1  0  0
4  118  a03223e636434f42ac4c3df47e8bac43       2017-08-04       NaN  0  0  0

In [944]:
df = final_merge(portfolio_df, transcript_df, profile_df)

In [945]:
df.sort_values('amount', ascending=False)

,user_id,age,became_member_on,income,F,M,O,offer_id,bogo,discount,...,email,mobile,social,web,time,amount,offer completed,offer received,offer viewed,transaction
284273,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,630,1062.28,0,0,0,1
301790,454b00bdd77c4f588eb9f6cafd81dc5d,53,2018-03-29,89000.0,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,690,1015.73,0,0,0,1
42253,5ecaea5c8bf44ae4a65838d9d066c909,55,2018-03-03,97000.0,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,102,1001.85,0,0,0,1
140346,dce784e26f294101999d000fad9089bb,53,2016-02-03,110000.0,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,372,989.34,0,0,0,1
302951,52959f19113e4241a8cb3bef486c6412,55,2016-12-20,111000.0,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,696,977.78,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77705,0009655768c64bdeb2e877511632db8f,33,2017-04-21,72000.0,0,1,0,5a8bc65990b245e5a138643cd4eb9837,0.0,0.0,...,1.0,1.0,1.0,0.0,192,NaN,0,0,1,0
113605,0009655768c64bdeb2e877511632db8f,33,2017-04-21,72000.0,0,1,0,3f207df678b143eea3cee63160fa8bed,0.0,0.0,...,1.0,1.0,0.0,1.0,336,NaN,0,1,0,0
139992,0009655768c64bdeb2e877511632db8f,33,2017-04-21,72000.0,0,1,0,3f207df678b143eea3cee63160fa8bed,0.0,0.0,...,1.0,1.0,0.0,1.0,372,NaN,0,0,1,0
247879,0009655768c64bdeb2e877511632db8f,33,2017-04-21,72000.0,0,1,0,2906b810c7d4411798c6938adc9daaa5,0.0,1.0,...,1.0,1.0,0.0,1.0,576,NaN,0,1,0,0
258884,0009655768c64bdeb2e877511632db8f,33,2017-04-21,72000.0,0,1,0,2906b810c7d4411798c6938adc9daaa5,0.0,1.0,...,1.0,1.0,0.0,1.0,576,NaN,1,0,0,0

In [946]:
df[df['user_id'] == '6cf884a6c5ae4b2daccb6d3108028fef']

,user_id,age,became_member_on,income,F,M,O,offer_id,bogo,discount,...,email,mobile,social,web,time,amount,offer completed,offer received,offer viewed,transaction
112788,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,1.0,0.0,...,1.0,1.0,1.0,0.0,336,NaN,0,1,0,0
124113,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,1.0,0.0,...,1.0,1.0,1.0,0.0,336,NaN,0,0,1,0
130588,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,1.0,0.0,...,1.0,1.0,1.0,0.0,348,NaN,1,0,0,0
1976,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,1.0,0.0,...,1.0,1.0,0.0,1.0,0,NaN,0,1,0,0
247062,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,5a8bc65990b245e5a138643cd4eb9837,0.0,0.0,...,1.0,1.0,1.0,0.0,576,NaN,0,1,0,0
304501,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,5a8bc65990b245e5a138643cd4eb9837,0.0,0.0,...,1.0,1.0,1.0,0.0,708,NaN,0,0,1,0
55173,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,3f207df678b143eea3cee63160fa8bed,0.0,0.0,...,1.0,1.0,0.0,1.0,168,NaN,0,1,0,0
77568,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,3f207df678b143eea3cee63160fa8bed,0.0,0.0,...,1.0,1.0,0.0,1.0,192,NaN,0,0,1,0
152584,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,0.0,1.0,...,1.0,1.0,1.0,1.0,408,NaN,0,1,0,0
187430,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,0.0,1.0,...,1.0,1.0,1.0,1.0,456,NaN,1,0,0,0
198737,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,0.0,1.0,...,1.0,1.0,1.0,1.0,492,NaN,0,0,1,0
89183,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,228,39.05,0,0,0,1
130587,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,348,37.98,0,0,0,1
187429,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,456,25.95,0,0,0,1
284273,6cf884a6c5ae4b2daccb6d3108028fef,58,2015-08-06,110000.0,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,630,1062.28,0,0,0,1